/* Attibute tags */
body {
  margin: 0;
  text-align: center;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Kaushan Script', cursive;
  font-size: 4.68rem;
  font-weight: normal;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Zilla Slab';
  font-size: 1.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Zilla Slab';
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top: 1px dotted #43d8c9;
  margin: 50px auto 50px auto;
  border-width: 5px;
  width: 10%;
}

/* Class tags */
.upperDiv {
  background-color: #d3f6f3;
  position: relative;
  padding-top: 120px;
}

.me{
  margin:20px 20px 0;
}

.bottom-container{
  background-color: #d3f6f3;
  margin-top: 20px;
  padding: 30px;

}


.student {
  font-weight: 600;
}

.topCloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 405px;
  bottom: 300px;
}

.skill-row {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.vectorSkill {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 20px;
}

.pythonSkill {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 20px;
}

.copyright{
  color: #58b4ae;
}

.footer-link{
  color: #11999E;
  line-height: 2;
  margin:auto 15px auto 15px auto; 
}

/* Button  */

.myButton {
	background-color:#43d8c9;
	border-radius:28px;
	border:1px solid #43d8c9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:18px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #43d8c9;
}
.myButton:hover {
	background-color:#58b4ae;
}
.myButton:active {
	position:relative;
	top:1px;
}
